.svn
.vs
.git
*.lib
*.exe
*.pdb
*.dll
*.suo
*.idb
*.ini
*.fbx
Client3D/Bin/Texture/
Client3D/Bin/Mesh/
Client3D/Bin/Sound/
Client2D/Bin/Texture/
Client2D/Bin/Mesh/
Client2D/Bin/Sound/
GameEngine/Bin/Texture/
GameEngine/Bin/Mesh/
GameEngine/Bin/Sound/
Engine/Bin/Texture/
Engine/Bin/Mesh/
Engine/Bin/Sound/
Client3D/BinObj/
Client2D/BinObj/
Editor/BinObj/
Engine/BInObj/
GameEngine/BinObj/
